<video #selfie></video>
<div class="row">
  <button (click)="start()" class="btn btn-primary">Play</button>
  <button (click)="toggleControls()" class="btn btn-success">Toggle Controls</button>
  <button (click)="pause()" class="btn btn-warning">Pause</button>
  <button (click)="resume()" class="btn btn-info">Resume</button>
  <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
  <button (click)="takePhoto()">Take photo</button>
</div>
<div *ngIf="imageReady ==  true">
<img [src]="imageURL"/>
</div>
